@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap');

// fonts
$montserrat: 'Montserrat';
$roboto: 'Roboto';

// colors
$white: #FFFFFF;
$gray-1: rgba(0, 0, 0, 0.6);
$gray-2: rgba(0, 0, 0, 0.38);
