@import './abstract/variables.scss';

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}
h1 {
    font-family: $montserrat;
    font-size: 96px;
    font-weight: 300;
}

h2 {
    font-family: $montserrat;
    font-size: 60px;
    font-weight: 400;
}

h3 {
    font-family: $montserrat;
    font-size: 48px;
    font-weight: 400;
}

h4 {
    font-family: $montserrat;
    font-size: 34px;
    font-weight: 400;
}

h5 {
    font-family: $montserrat;
    font-size: 24px;
    font-weight: 400;
}

h6 {
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 500;
    color: $gray-1;
}

p, small, button, a {
    font-family: $roboto;
}
